<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!--  **********************************************************************************************************************************************   -->

    <!--
    
    <add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_eastmaine_prod;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>
-->

    <add key="ConnStr" value="Persist Security Info=False;User ID=console_shs_user;Password=psy1234!;Initial Catalog=al60_scottsdale_epic_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>



    <add key="CommandTimeOut" value="180"/>
    <add key="ForceClearTextPasswd" value="1"/>
     
    <add key="ConsoleName" value="OWL.Console.Report4"/>

    <add key="Monitoring" value="0"/>
    <add key="Verbose" value="1"/>

    <!-- number of threads.
    
    
    never sat this more than number of cores - 1
    -->
    <add key="MaxThreads" value="1"/>

    <!-- time in mins till the shutdown and wait for restart. -->
    <add key="RecycleTime" value="2"/>

    <!-- time in secs to wait for threads to finish up on  restart. -->
    <add key="TimeToWiatForThreadsToCompleteOnRecycle" value="30"/>





    <!--  **********************************************************************************************************************************************   -->
    <!--  begin the rules section   -->



    <add key="iMaxRowsToProcess" value="1000"/>
    <add key="ContextDesc" value="short summary"/>
    <add key="RULE_MESSAGE_DELIMETER" value=","/>










   
    
    
    <!--  end the rules section   -->
    <!--  **********************************************************************************************************************************************   -->

    
    
    
    
    
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!-- begin do not change any of these unless glen or mkc says to    fromm here ****************************************--> 
    <add key="ThreadsON" value="0"/>
    <add key="MinThreads" value="1"/>
  
    <add key="MaxQueDepth" value="1000"/>
    <add key="MinWait" value="10"/>
    <add key="MaxWait" value="15000"/>
    <add key="CleanupInterval" value="10000"/>
    <add key="SchedulingInterval" value="10"/>
    <add key="ThreadIntervalTimeout" value="12"/>
    <add key="PoolPollTime" value="10000"/>


    <add key="useDLL" value="1"/>
    

    <!-- end do not change and of these unless glen or mkc says to    to here ****************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->





 
     
    

  </appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
