<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DCSGlobal.Rules.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="useConnStrEncrypt" value="N"/>
    <add key="ConnStr" value="User ID=console_novant_user;Password=console_novant_password;Initial Catalog=al60_novant;Data Source=10.34.1.55;pooling=false;connection Timeout=180"/>
    <add key="ConnStr123" value="User ID=profiler;Password=profiler2007;Initial Catalog=al60_seton_lite;Data Source=10.1.1.57;pooling=false;connection Timeout=180"/>
    <add key="ConnStr" value="User ID=console_prod_hollywood_user;Password=console_prod_hollywood_password;Initial Catalog=auditlogix60_hollywood;Data Source=10.34.1.80;pooling=false;connection Timeout=180"/>
    <add key="ConnStr" value="User ID=console_prod_hollywood_user;Password=console_prod_hollywood_password;Initial Catalog=auditlogix60_hollywood;Data Source=10.34.1.120;pooling=false;connection Timeout=180"/>
    <add key="ConnStrEncrypt" value="User ID=console_prod_hollywood_user;Password=console_prod_hollywood_password;Initial Catalog=auditlogix60_hollywood;Data Source=10.34.1.120;pooling=false;connection Timeout=180"/>
    <add key="cfgContextID" value="1"/>
    <add key="cfgHospCode" value="D0"/>
    <add key="cfgHospCodexxxxx" value="SER"/>
    <add key="errorLogPath" value="c:\logs\NovantRulesAddressErrorLogFMC_new.txt"/>
    <add key="debugMode" value="Y"/>
    <add key="ruleDebugMode" value="N"/>
    <add key="runMode" value="R"/>
    <add key="resultAll" value="N"/>
    <add key="ruleSuccess" value="Y"/>
    <add key="raClientIP" value=""/>
    <add key="ruleDisplayLimit" value="5000"/>
    <add key="CfgUspGetAllData" value="usp_get_pat_audit_trail_hl7"/>
    <add key="CfgUspInsertSchedulerlog" value="usp_insert_into_Scheduler_log"/>
    <add key="CfgUspGetRuleMsg" value="usp_get_rule_messages"/>
    <add key="CfgUspRulesToFire" value="usp_rules_to_fire"/>
    <add key="CfgUspApplyPatAuditTrial" value="usp_apply_patient_audit_trail_by_patient_id_avs"/>
    <add key="CfgUspApplyPatAuditTrial" value="usp_apply_patient_audit_trail_by_patient_id"/>
    <add key="CfgUspTankAddress" value="usp_get_tank_address"/>
    <add key="CfgUspAddCorrectAddress" value="usp_add_corrected_address_detail"/>
    <add key="CfgUspAddMultipleAddress" value="usp_add_corrected_address_multiple_detail"/>
    <add key="CfgUspFormatAddress" value="usp_get_formatted_address"/>
    <add key="CfgUspAddressValidationTrail" value="usp_add_address_validation_audit_trail"/>
    <add key="CfgUspGetAllTankById" value="usp_get_all_data_tank_ByID"/>
    <add key="CfgUspRuleInsert" value="usp_rule_insert"/>
    <add key="CfgUspRuleResultDelete" value="usp_rule_result_delete"/>
    <add key="CfgUspRuleInsertByXmlTank" value="usp_rule_insert_ByXML_Tank"/>
    <add key="CfgUspRuleInsertDebug" value="usp_rule_insert_debug"/>
    <add key="addrSvcUrl1" value="http://10.34.1.33/DcsAddress.asmx"/>
    <add key="addrSvcUrl2" value="http://10.34.1.42:9500/DcsAddress.asmx"/>
    <add key="CommandTimeOut" value="180"/>
    <add key="addressRunMode" value="N"/>
    <add key="addrSvcPingLogMin" value="10"/>
    <add key="customerID" value="stjoe"/>
    <add key="licenseKey" value="HqKKW2UGhzF5Xm6RhbL+vg=="/>
    <add key="addrSvcUrl1" value="http://10.34.1.33/DcsAddress.asmx"/>
    <add key="addrSvcUrl2" value="http://10.34.1.42:9500/DcsAddress.asmx"/>
    <!--<add key="addrSvcUrl2" value="https://address.auditlogix.net/dcsaddress.asmx" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--<add key="getAllDataSp"  value="usp_get_pat_audit_trail_hl7_PHC" />
    <add key ="CfgUspGetAllData"  value="usp_get_pat_audit_trail_hl7_PHC" />
    <add key ="CfgUspInsertSchedulerlog"  value="usp_insert_into_Scheduler_log" />
    <add key ="CfgUspGetRuleMsg" value ="usp_get_rule_messages"/>
    <add key ="CfgUspRulesToFire" value ="usp_rules_to_fire"/>
    <add key ="CfgUspApplyPatAuditTrial"  value="usp_apply_patient_audit_trail_by_patient_id" />
    <add key ="CfgUspTankAddress" value ="usp_get_tank_address"/>
    <add key ="CfgUspAddCorrectAddress" value ="usp_add_corrected_address_detail"/>
    <add key ="CfgUspAddMultipleAddress" value ="usp_add_corrected_address_multiple_detail"/>
    <add key ="CfgUspFormatAddress" value ="usp_get_formatted_address"/>
    <add key ="CfgUspAddressValidationTrail" value ="usp_add_address_validation_audit_trail"/>
    <add key ="CfgUspGetAllTankById" value ="usp_get_all_data_tank_ByID"/>
    <add key ="CfgUspRuleInsert" value ="usp_rule_insert"/>
    <add key ="CfgUspRuleResultDelete" value ="usp_rule_result_delete"/>
    <add key ="CfgUspRuleInsertByXmlTank" value ="usp_rule_insert_ByXML_Tank"/>
    <add key ="CfgUspRuleInsertDebug" value ="usp_rule_insert_debug"/>-->
    <!--<add key="ConnStr" value="User ID=console_broward_user;Password=console_broward_password;Initial Catalog=al60_broward;Data Source=10.34.1.80;pooling=false;connection Timeout=180" />-->
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <DCSGlobal.Rules.My.MySettings>
      <setting name="DCSGlobal_Rules_DcsAddress_DcsAddress" serializeAs="String">
        <value>https://10.34.1.42/dcsaddress.asmx</value>
      </setting>
    </DCSGlobal.Rules.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
