<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>


    <add key="ConnStr" value="User ID=console_adena_user;Password=mez3yU7qfPvTNzxH5tP/ePhoLWNiVZe6DIDzWBxOY9M=;Initial Catalog=al60_adena;Data Source=10.34.5.10;pooling=false;connection Timeout=180"/>


    <add key="CommandTimeOut" value="180"/>
    <add key="ForceClearTextPasswd" value="0"/>


    <!-- max logging and console output  0 = on 1=off -->
    <add key="LogEDI" value="N"/>

    <!-- max logging and console output  0 = on 1=off -->
    <add key="Verbose" value="1"/>

    <!--  waits for keystroke to exit alwasy set to 0 when runing form task man-->
    <add key="WaitForEnterToExit" value="1"/>


    <!-- sets the priortiy so that is does not kill other apps 
        values
         BelowNormal  this is the default and it will let all other process go ahead of it
         Idle         only runs when the machine has nothing else to do not good 
         Normal       use if its on a decitade box
    -->
    <add key="ProcessPriorityClass" value="BelowNormal"/>
    
   
    
    <!-- it can be anything starting with A-Z  can contaian _ and 0-9 only   and has to be uniquie to every instance -->
    <add key="InstanceName" value="ADENA_Prod_837_UPLOAD_TO_DB"/>


    <!-- File Paths for all the types -->
    <!-- do not use trailing \ the program handles all that-->

    <!-- *************************************************************************************************************************************************-->
    <!--  270 -->
    <add key="Load270" value="0"/>
    <!-- File Paths 270 -->
    <add key="FileFilter270" value="*.*"/>
    <add key="Input270" value="C:\"/>
    <add key="Failed270" value="C:\"/>
    <add key="Success270" value="C:\"/>
    <add key="Duplicate270" value="C:\"/>
    <!-- vault settings -->
    <add key="270_use_db" value="1"/>
    <add key="270_Enable_Vault_write" value="1"/>
    <add key="270_FileNameExtension" value="0"/>
    <add key="270_ClientName" value="GLEN"/>
    <add key="270_HOSP_CODE" value="VA"/>
    <add key="270_RootDirectory" value="c:\webdir_data\"/>
    <add key="270_ClientDirectory" value="\270\"/>
    

    <!-- *************************************************************************************************************************************************-->
    <!--  271 -->
    <add key="Load271" value="0"/>
    <!-- File Paths 271 -->
    <add key="FileFilter271" value="*.*"/>
    <add key="Input271" value="C:\ftpdir\input"/>
    <add key="Failed271" value="C:\"/>
    <add key="Success271" value="C:\"/>
    <add key="Duplicate271" value=""/>
    <!-- vault settings -->
    <add key="271_use_db" value="1"/>
    <add key="271_Enable_Vault_write" value="1"/>
    <add key="271_FileNameExtension" value="0"/>
    <add key="271_ClientName" value="GLEN"/>
    <add key="271_HOSP_CODE" value="VA"/>
    <add key="271_RootDirectory" value="c:\webdir_data\"/>
    <add key="271_ClientDirectory" value="\271\"/>



    <!-- *************************************************************************************************************************************************-->
    <!--  276 -->
    <add key="Load276" value="0"/>
    <!-- File Paths 276 -->
    <add key="FileFilter276" value="*.*"/>
    <add key="Input276" value="C:\ftpdir\837\input"/>
    <add key="Failed276" value="C:\ftpdir\837\failed"/>
    <add key="Success276" value="C:\ftpdir\837\success"/>
    <add key="Duplicate276" value="C:\ftpdir\837\duplicate"/>
    <!-- vault settings -->
    <add key="276_use_db" value="1"/>
    <add key="276_Enable_Vault_write" value="1"/>
    <add key="276_FileNameExtension" value="0"/>
    <add key="276_ClientName" value="GLEN"/>
    <add key="276_HOSP_CODE" value="VA"/>
    <add key="VAULT_ROOT_DIRECTORY_276" value="c:\webdir_data\"/>
    <add key="VAULT_CLIENT_DIRECTORY_276" value="\277\"/>
    <add key="VAULT_FILE_PATH_276" value="\277\"/>
    
    
    
    
    
    <!-- *************************************************************************************************************************************************-->
    <!--  277 -->
    <add key="Load277" value="0"/>
    <!-- File Paths 277 -->
    <add key="FileFilter277" value="*.*"/>
    <add key="Input277" value="C:\ftpdir\837\input"/>
    <add key="Failed277" value="C:\ftpdir\837\failed"/>
    <add key="Success277" value="C:\ftpdir\837\success"/>
    <add key="Duplicate277" value="C:\ftpdir\837\duplicate"/>
    <!-- vault settings -->
    <add key="277_use_db" value="1"/>
    <add key="277_Enable_Vault_write" value="1"/>
    <add key="277_FileNameExtension" value="0"/>
    <add key="277_ClientName" value="GLEN"/>
    <add key="277_HOSP_CODE" value="VA"/>
    <add key="VAULT_ROOT_DIRECTORY_277" value="c:\webdir_data\"/>
    <add key="VAULT_CLIENT_DIRECTORY_277" value="\277\"/>
    <add key="VAULT_FILE_PATH_277" value="\277\"/>


    <!-- *************************************************************************************************************************************************-->
    <!--  278 -->
    <add key="Load278" value="0"/>
    <!-- File Paths 278 -->
    <add key="FileFilter278" value="*.*"/>
    <add key="Input278" value="input"/>
    <add key="Failed278" value="fail"/>
    <add key="Success278" value="Success"/>
    <add key="Duplicate278" value="duplicate"/>
    <!-- vault settings -->
    <add key="278_use_db" value="1"/>
    <add key="278_Enable_Vault_write" value="1"/>
    <add key="278_FileNameExtension" value="0"/>
    <add key="278_ClientName" value="GLEN"/>
    <add key="278_HOSP_CODE" value="VA"/>
    <add key="278_RootDirectory" value="c:\webdir_data\"/>
    <add key="278_ClientDirectory" value="\278\"/>


    <!-- *************************************************************************************************************************************************-->
    <!--  835 -->
    <add key="Load835" value="0"/>
    <!-- File Paths 835 -->
    <add key="FileFilter835" value="*.*"/>
    <add key="Input835" value="C:\ftpdir\837\input"/>
    <add key="Failed835" value="C:\ftpdir\837\failed"/>
    <add key="Success835" value="C:\ftpdir\837\success"/>
    <add key="Duplicate835" value="C:\ftpdir\837\duplicate"/>
    <!-- vault settings -->
    <!-- vault settings -->
    <add key="835_use_db" value="1"/>
    <add key="835_Enable_Vault_write" value="1"/>
    <add key="835_FileNameExtension" value="0"/>
    <add key="835_ClientName" value="GLEN"/>
    <add key="835_HOSP_CODE" value="VA"/>
    <add key="VAULT_ROOT_DIRECTORY_835" value="c:\webdir_data\"/>
    <add key="VAULT_CLIENT_DIRECTORY_835" value="\277\"/>
    <add key="VAULT_FILE_PATH_835" value="\277\"/>

    
    
    <!-- *************************************************************************************************************************************************-->
    <!--  837 -->
    <add key="Load837" value="1"/>
    <!-- File Paths 837 -->
    <add key="FileFilter837" value="*.*"/>
    <add key="Input837" value="C:\ftpdir\837\"/>
    <add key="Failed837" value="C:\ftpdir\837\failed"/>
    <add key="Success837" value="C:\ftpdir\837\success"/>
    <add key="Duplicate837" value="C:\ftpdir\837\duplicate"/>
    <!-- vault settings -->
    <add key="837_use_db" value="1"/>
    <add key="837_Enable_Vault_write" value="1"/>
    <add key="837_FileNameExtension" value="0"/>
    <add key="837_ClientName" value="GLEN"/>
    <add key="837_HOSP_CODE" value="VA"/>
    <add key="VAULT_ROOT_DIRECTORY_837" value="c:\webdir_data\"/>
    <add key="VAULT_CLIENT_DIRECTORY_837" value="\277\"/>
    <add key="VAULT_FILE_PATH_837" value="\277\"/>
    
    
    
    
    
    <!-- email logging stuff -->
    <add key="doEmail" value="1"/>
    <add key="SMTPServer" value="10.1.1.108"/>
    <add key="FromMailAddress" value="no-reply@dcsglobal.com"/>
    <add key="ToMailAddress" value="ghinckley@dcsglobal.com"/>
    <add key="login" value="dcs"/>
    <add key="password" value="dcsglobal1"/>


    <add key="DCS_VAULT_OverWriteIfFileExist" value="1"/>
    <add key="DCS_VAULT_PassUserCredentials" value="0"/>
    <!--<add key="DCS_VAULT_PassUserCredentials" value="1"/>-->
    <add key="DCS_VAULT_UserName" value="serviceacct"/>
    <add key="DCS_VAULT_Password" value="AcSKTZo3D2jRRumh2/L/ww=="/>
    <add key="DCS_VAULT_Domain" value="dc1-dcsglobal.local"/>
    <add key="DCS_VAULT_AlternateEndPointAddress" value="net.tcp://10.1.1.112:9899/FileTransferService"/>
    <add key="DCS_VAULT_EXCEPTIONREFID" value="DCSVAULT"/>
    <add key="DCS_VAULT_ERRORFOLDER" value="C:\SS_PDF\VAULT_ERROR"/>

    <add key="DCS_Email_SMTPServer" value="10.1.1.108"/>
    <!--<add key="DCS_Email_SMTPServer" value="mail2.dcsglobal.com" />-->
    <add key="DCS_Email_FromMailAddress" value="no-reply@dcsglobal.com"/>
    <add key="DCS_Email_ToMailAddress" value="alerts@dcsglobal.com,rmudunuri@dcsglobal.com,kpadala@dcsglobal.com"/>
    <add key="DCS_Email_Subject" value="JHS Sunshine Auth Fax PDF ScreenScrape- Error occurred in DCS Vault"/>


  </appSettings>


  
  
    <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFileTransfer" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" transactionFlow="false" transferMode="Streamed" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.1.1.112:9899/FileTransferService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileTransfer" contract="DCS_WCF_VaultService.IFileTransfer" name="NetTcpBinding_IFileTransfer">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>




  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.1.1.112:9899/FileTransferService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileTransfer"
        contract="srvFileTransferService.IFileTransfer" name="NetTcpBinding_IFileTransfer">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
