<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCSGlobal.Medical.VoiceRecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VoiceRecorderSoap" />
                <binding name="SecuritySoap" />
                <binding name="RegisterPager1Soap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.1.112:8506/voiceRecorder.asmx"
                binding="basicHttpBinding" bindingConfiguration="VoiceRecorderSoap"
                contract="srVoiceRecorder.VoiceRecorderSoap" name="VoiceRecorderSoap" />
            <endpoint address="net.tcp://10.1.1.112:9899/FileTransferService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileTransfer"
                contract="srFileTransferService.IFileTransfer" name="NetTcpBinding_IFileTransfer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://10.1.1.112:8506/security.asmx" binding="basicHttpBinding"
                bindingConfiguration="SecuritySoap" contract="srSecurity.SecuritySoap"
                name="SecuritySoap" />
            <endpoint address="http://10.1.1.112:8506/RegisterPager.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegisterPager1Soap"
                contract="srRegister.RegisterPager1Soap" name="RegisterPager1Soap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <DCSGlobal.Medical.VoiceRecoder.Properties.Settings>
            <setting name="ServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Size" serializeAs="String">
                <value>2000000000</value>
            </setting>
            <setting name="DeviceString" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOptionsInUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmOptionsLocation_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="frmOptionsLocation_Top" serializeAs="String">
                <value>100</value>
            </setting>
        </DCSGlobal.Medical.VoiceRecoder.Properties.Settings>
    </userSettings>
</configuration>