<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>


    <add key="ConnectionString" value="Provider=SQLOLEDB.1;Password=psy1234!;Persist Security Info=True;User ID=sa;Initial Catalog=PsyquelProd;Data Source=192.168.4.25"/>
    <add key="ConnectionString_Backup" value="Provider=SQLOLEDB.1;Password=Luxera2023;Persist Security Info=True;User ID=sa;Initial Catalog=PsyquelProd;Data Source=216.69.254.69"/>


    


    <add key="EDIOutput" value="C:\usr\EDIOutput"/>
    <add key="isDirect" value="C:\usr\EDIOutput"/>
    <add key="isDebug" value="True"/>
    
    
    
    <!--Public Const _ConnectionString As String = "Provider=SQLOLEDB.1;Password=psy1234!;Persist Security Info=True;User ID=sa;Initial Catalog=PsyquelDirect;Data Source=192.168.4.25"
    Public Const _ConnectionString As String = "Provider=SQLOLEDB.1;Password=psy1234!;Persist Security Info=True;User ID=sa;Initial Catalog=PsyquelProd;Data Source=192.168.4.25"-->

    <add key="SYNC_TIMEOUT" value="0.00:00:35"/>
    <add key="SUBMISSION_TIMEOUT" value="0.00:00:35"/>
    <add key="ErrorLog" value="1"/>
    <!--<add key="isVbParse" value="Y"/>-->
    <!--<add key="isEdiDbImport" value="N"/>-->
    <add key="isParseVBorDB" value="V"/>
    <add key="isEmdeonLookUp" value="N"/>
    <add key="reRunEligAttempts" value="0"/>
    <!--<add key="uspEdiDbImport" value="USP_EDIPARSE_PRODUCTION" />-->
    <add key="uspEdiRequest" value="USP_INSERT_AUDIT_ELIGIBILITY_270"/>
    <add key="uspEdiDbImport" value="USP_INSERT_AUDIT_ELIGIBILITY_270_271"/>
    <add key="LogPath" value="c:\usr"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ConsoleName" value="YourNameInThisFormatGoesHere"/>
    <add key="MaxCount" value="1000"/>
    <add key="MaxThreads" value="10"/>
    <add key="ThreadsON" value="0"/>
    <add key="WaitForEnterToExit" value="1"/>


    <add key="CommandTimeOut" value="180"/>


    <add key="SMTPServer" value="10.1.1.108"/>
    <add key="FromMailAddress" value="no-reply@TXLLabs.com"/>
    <add key="ToMailAddress" value="qasupport@TXLLabs.com"/>
    <add key="login" value="dcs"/>
    <add key="password" value="TXLLabs1"/>

    <add key="UploadFilePath" value="C:\Programs\EDITool\UploadTool\Files\"/>
    <add key="DropboxFolderName" value="dropbox"/>

  </appSettings>
  
  
  
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
