<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCSGlobal.Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DCSGlobal.Recorder.Properties.Settings>
            <setting name="LameExePath" serializeAs="String">
                <value>Lame.exe</value>
            </setting>
            <setting name="AudioLevelRecord" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PlaybackAudioLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="isAudioConfig" serializeAs="String">
                <value>False</value>
            </setting>
        </DCSGlobal.Recorder.Properties.Settings>
    </userSettings>
</configuration>