<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Manual_test_app.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_seton_lite_developer;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>-->
        <add key="ConnStr" value="Persist Security Info=False;User ID=console_einstein_user;Password=+sZVWttQME08TbSI9ZaQbU60GfuLVtzM1oDkt00zINo=;Initial Catalog=al60_einstein;Data Source=10.34.5.10;pooling=false;connection Timeout=180"/>
    
    
    <!--<add key="getAllDataSp" value="usp_verify_eligibility_manual_v8_medicaid" />-->
    <!--<add key="getAllDataSp" value="usp_verify_eligibility_manual_FE_v8" />-->
    <!--<add key="getAllDataSp" value="usp_verify_eligibility_manual_FE_v8_temp" />
		<add key="getAllDataSp" value="usp_verify_eligibility_manual_v8_console_medicare"/> -->
    <add key="getAllDataSp" value="usp_verify_eligibility_manual_v10_console"/>
    <!--<add key="ConnStr" value="Data Source=10.34.1.140;Initial Catalog=al60_jhs_test_evh;Persist Security Info=True;User ID=console_jhs_test_user;Password=console_jhs_test_password"/> -->
    <!--<add key="ConnStr" value="Data Source=10.34.1.130;Initial Catalog=al60_uvalde;Persist Security Info=True;User ID=console_uvalde_user;Password=console_uvalde_password"/>-->
    <!--add key="ConnStr" value="Data Source=10.34.1.130;Initial Catalog=al60_crisp_prod;Persist Security Info=True;User ID=suresh;Password=suresh247"/>-->
    <add key="ConnStr_175" value="Data Source=10.1.1.175;Initial Catalog=al60_margin;Persist Security Info=True;User ID=ghinckley;Password=rangers2013"/>
    <add key="ConnStr_bmc" value="Persist Security Info=False;User ID=al60_bmc_prod_user;Password=al60_bmc_prod_password;Initial Catalog=al60_bmc_prod_NEW;Data Source=10.34.1.240;pooling=false;connection Timeout=180"/>
    <!--add key="ConnStr" value="Data Source=10.34.1.130;Initial Catalog=al60_dameron;Persist Security Info=True;User ID=al60_dameron_user;Password=al60_dameron_password"/>-->
    <!-- CommandTimeOut <add key="getAllDataSp" value="usp_verify_eligibility_manual_v8_console_medicare" /> -->
    <!--add key="ConnStr" value="Persist Security Info=False;User ID=ghinckley;Password=Emily269;Initial Catalog=al60_jhs_prod;Data Source=10.34.1.140;pooling=false;connection Timeout=180"/-->


    <add key="SYNC_TIMEOUT" value="0.00:00:35"/>
    <add key="SUBMISSION_TIMEOUT" value="0.00:00:35"/>
    <add key="ErrorLog" value="1"/>
    <!--<add key="isVbParse" value="Y"/>-->
    <!--<add key="isEdiDbImport" value="N"/>-->
    <add key="isParseVBorDB" value="V"/>
    <add key="isEmdeonLookUp" value="N"/>
    <add key="reRunEligAttempts" value="0"/>
    <!--<add key="uspEdiDbImport" value="USP_EDIPARSE_PRODUCTION" />-->
    <add key="uspEdiRequest" value="USP_INSERT_AUDIT_ELIGIBILITY_270"/>
    <add key="uspEdiDbImport" value="USP_INSERT_AUDIT_ELIGIBILITY_270_271"/>
    <add key="LogPath" value="c:\usr"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ConsoleName" value="YourNameInThisFormatGoesHere"/>
    <add key="MaxCount" value="1000"/>
    <add key="MaxThreads" value="10"/>
    <add key="ThreadsON" value="0"/>
    <add key="WaitForEnterToExit" value="1"/>


    <add key="CommandTimeOut" value="180"/>


    <add key="SMTPServer" value="10.1.1.108"/>
    <add key="FromMailAddress" value="no-reply@dcsglobal.com"/>
    <add key="ToMailAddress" value="qasupport@dcsglobal.com"/>
    <add key="login" value="dcs"/>
    <add key="password" value="dcsglobal1"/>

    <add key="UploadFilePath" value="C:\Programs\EDITool\UploadTool\Files\"/>
    <add key="DropboxFolderName" value="dropbox"/>
    
  </appSettings>


  <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LDAPSoap"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISampleService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/TestService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISampleService" contract="sr.ISampleService" name="NetTcpBinding_ISampleService">
        <identity>
          <userPrincipalName value="ghinckley@dcsglobal.local"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:55834/LDAP.asmx" binding="basicHttpBinding" bindingConfiguration="LDAPSoap" contract="LDAP.LDAPSoap" name="LDAPSoap"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <Manual_test_app.Settings1>
      <setting name="ConString" serializeAs="String">
        <value>Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_seton_lite_developer;Data Source=10.1.1.120;pooling=false;connection Timeout=180
</value>
      </setting>
      <setting name="ALLoginCommandString" serializeAs="String">
        <value>usp_secure_check_valid_user_al</value>
      </setting>
    </Manual_test_app.Settings1>
  </userSettings>












</configuration>
