<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>


    <!-- this version need encrypted passwords in the encrypted password format
  
    <add key="ConnStr" value="Persist Security Info=False;User ID=console_eogh_user;Password=console_eogh_password;Initial Catalog=al60_eogh;Data Source=10.34.1.80" />


    <add key="ConnStr" value="Persist Security Info=False;User ID=console_prospect_user;Password=oN6HzQZBBy5s21wY9U50b5dAAYx3QxJwD70Jf83NaOE=;Initial Catalog=al60_prospect_prod;Data Source=10.34.1.30;pooling=false;connection Timeout=180" />

          <add key="ConnStr" value="Persist Security Info=False;User ID=console_jhs_prod_user;Password=V4NsBYpTPICvEopTqJCTX08DaYDZmyin8SO4q92wWHY=;Initial Catalog=al60_jhs_prod;Data Source=10.34.1.140;pooling=false;connection Timeout=180"/>

       -->


        <add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_seton_lite_developer;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>



    <add key="dbCommandTimeOut" value="180"/>
    <add key="DeadLockRetrys" value="0"/>
    <!-- it can be anything starting with A-Z  can contaian _ and 0-9 only   and has to be uniquie to every instance 
      this use to be instance name-->
    <add key="ConsoleName" value="HasToBeUnique"/>
    <add key="UserID" value="Gen3PDF"/>


    <!--<add key="cfgUspGetData" value="usp_send_Eligibility_2_adt_REQRES"/>
    --><!--<add key="cfgUspGetData" value="usp_send_Eligibility_2_adt_REQRES"/>--><!--
    --><!--<add key="cfgUspGetData" value="usp_send_Eligibility_2_adt_glen"/>--><!--
    <add key="cfgUspUpdateEligAdt" value="usp_send_Eligibility_2_adt_update"/>-->


    <add key="cfgUspGetData" value="usp_send_Eligibility_2_adt"/>
    <add key="cfgUspUpdateEligAdt" value="usp_send_Eligibility_2_adt_update"/>
    
    
    <add key="BaseURL" value="https://10.34.1.209"/>
    <add key="PDFSaveLocation" value="c:\usr\gen_pdf\"/>



    <!-- MARGINS-->
    <add key="LeftMargin" value="36"/>
    <add key="RightMargin" value="36"/>
    <add key="TopMargin" value="36"/>
    <add key="BottomMargin" value="36"/>
    <!-- MARGINS-->


    <add key="isCentered" value="true"/>
    <add key="isPrint" value="true"/>
    <add key="showOSD" value="true"/>
    <add key="showOCR" value="true"/>
    <add key="use800" value="false"/>
    <add key="showSummary" value="true"/>


    <!-- 
    **************************************************************************************
     Leave all below this alone unless glen says to touch
    -->


    <add key="ThreadsON" value="0"/>
 
    
    <add key="MaxCount" value="1000"/>
    <add key="MinThreads" value="3"/>
    <add key="MaxThreads" value="4"/>
    <add key="MinWait" value="10"/>
    <add key="MaxWait" value="15000"/>
    <add key="CleanupInterval" value="60000"/>
    <add key="SchedulingInterval" value="10"/>
    <add key="dbPollTimeMilliSeconeds" value="100"/>
    <!-- this the time in secs beofre it will shut down and wait to be restatrted  deffault is 3 hours -->
    <!-- 60*60*3*1000 -->
    <add key="RecycleTime" value="10800000"/>


    <add key="ForceClearTextPasswd" value="0"/>
    <add key="Verbose" value="1"/>
    <add key="WaitForEnterToExit" value="1"/>

    <add key="DisplayHeader" value="1"/>
    <!--<add key="ForceRecycle" value="1" />-->

    <add key="PdfDBProc" value="usp_get_pdf_final_data_xml"/>

    <add key="doc_id" value="55"/>

    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
