<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecuritySoap" />
                <binding name="VoiceRecorderSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://10.1.1.112:9899/FileTransferService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileTransfer"
                contract="srFileTransferService.IFileTransfer" name="NetTcpBinding_IFileTransfer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://10.1.1.112:8506/Security.asmx" binding="basicHttpBinding"
                bindingConfiguration="SecuritySoap" contract="srSecurity.SecuritySoap"
                name="SecuritySoap" />
            <endpoint address="http://10.1.1.112:8506/VoiceRecorder.asmx"
                binding="basicHttpBinding" bindingConfiguration="VoiceRecorderSoap"
                contract="srVoiceRecorder.VoiceRecorderSoap" name="VoiceRecorderSoap" />
        </client>
    </system.serviceModel>
</configuration>