<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>

    
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_seton_lite_developer;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_eastmaine_prod;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>-->
  <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_ucla_epic_prod_user;Password=Z8DJQXZEGVysZQ9k27OVpur7xg3LmJlvyzqaxU9JIaU=;Initial Catalog=al60_ucla_epic_prod;Data Source=10.34.1.30;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_bothwell_user;Password=QFEOkJDz9sKx6w1vDrUET/MGoPCs/LJORVQTluOlPHk=;Initial Catalog=al60_bothwell;Data Source=10.34.1.150;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_bryan_user;Password=29yK+kcH3DwPVp9i66/JAgK6psdHH9DrrN6bo98aOn0=;Initial Catalog=al60_bryan;Data Source=10.34.1.170;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_tug_river_user;Password=Cuyet/yZeKgLcttV80DYgcJpLjnf1ik/V03cRliaqPg=;Initial Catalog=al60_tug_river;Data Source=10.34.1.170;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_dallas_children_user;Password=console_dallas_children_password;Initial Catalog=al60_dallas_children_prod;Data Source=10.34.1.190;pooling=false;connection Timeout=180"/>-->
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_bayhealth_prod_user;Password=1vMhzH4t+XI7lt9BgXwgbGT9tIBo/mVl+9tXS3hdZKs=;Initial Catalog=al60_bayhealth_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>-->
    <add key="ConnStr" value="Persist Security Info=False;User ID=console_einstein_user;Password=+sZVWttQME08TbSI9ZaQbU60GfuLVtzM1oDkt00zINo=;Initial Catalog=al60_einstein;Data Source=10.34.5.10;pooling=false;connection Timeout=180"/>
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=al60_shs_user;Password=BhC3jZJoPkWebD7IABCgpvM/OHAtuNkUHuvSRK7crq8=;Initial Catalog=al60_scottsdale_epic_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>-->

    <add key="CommandTimeOut" value="180"/>
    <add key="DeadLockRetrys" value="1"/>
    <add key="ConsoleName" value="BTWELL_ELIGIBILITY_MULTI_THREAD_DEFAULT-CON"/>
    <add key="getAllDataSp" value="usp_verify_eligibility_manual_v10_console"/>
    <add key="reRunEligAttempts" value="0"/>

    <!--vendor items-->
    <add key="VendorRetrys" value="3"/>
    <add key="isXMLREQ" value="0"/>

    <!-- 
    **************************************************************************************
     Leave all below this alone unless glen says to touch
    -->


    <add key="ThreadsON" value="0"/>


    <add key="MaxCount" value="1000"/>
    <add key="MinThreads" value="0"/>
    <add key="MaxThreads" value="1"/>
    <add key="MinWait" value="10"/>
    <add key="MaxWait" value="15000"/>
    <add key="CleanupInterval" value="60000"/>
    <add key="SchedulingInterval" value="10"/>
    <add key="dbPollTimeMilliSeconeds" value="100"/>
    <!-- this the time in secs beofre it will shut down and wait to be restatrted  deffault is 3 hours -->
    <!-- 60*60*3*1000 -->
    <add key="RecycleTime" value="60000"/>

    <!-- this the time in secs beofre it will shut down and wait to be restatrted  deffault is 3 hours -->
    <!-- 60*60*3*1000 = 3 hours  10800000 -->
    <!-- 60*60*.25*1000 = 15 min 900000 -->
    <!-- 60*60*.25*1000 = 15 min 900000 -->
    <!-- seting a value to 0 zero disables the function -->
    <add key="PoolPollTime" value="10000"/>
    <add key="RecycleWaitTime" value="90000"/>

    <add key="ForceClearTextPasswd" value="0"/>
    <add key="Verbose" value="1"/>
    <add key="WaitForEnterToExit" value="1"/>

  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
