<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!--  **********************************************************************************************************************************************   -->

    <!--
    
    <add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_eastmaine_prod;Data Source=10.1.1.120;pooling=false;connection Timeout=180"/>
-->

    <add key="ConnStr" value="Persist Security Info=False;User ID=console_shs_user;Password=glc99BmmRFIxWhO3pSS9pOxB6Go8Uq3k;Initial Catalog=al60_scottsdale_epic_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>



    <add key="CommandTimeOut" value="180"/>
    <add key="ForceClearTextPasswd" value="0"/>
     
    <add key="ConsoleName" value="RULES_MT_CON_bonsecours_PRaaaOD"/>

    <add key="Monitoring" value="0"/>
    <add key="Verbose" value="1"/>

    <!-- number of threads.
    
    
    never sat this more than number of cores - 1
    -->
    <add key="MaxThreads" value="1"/>

    <!-- time in mins till the shutdown and wait for restart. -->
    <add key="RecycleTime" value="2"/>

    <!-- time in secs to wait for threads to finish up on  restart. -->
    <add key="TimeToWiatForThreadsToCompleteOnRecycle" value="30"/>





    <!--  **********************************************************************************************************************************************   -->
    <!--  begin the rules section   -->



    <add key="iMaxRowsToProcess" value="1000"/>
    <add key="ContextDesc" value="short summary"/>
    <add key="RULE_MESSAGE_DELIMETER" value=","/>

    <add key="USP_GET_PAT_AUDIT_TRAIL_HL7_STARTER_IDS" value="USP_GET_PAT_AUDIT_TRAIL_HL7_STARTER_IDS"/>
    <add key="USP_GET_PAT_AUDIT_TRAIL_HL7_ROWS" value="USP_GET_PAT_AUDIT_TRAIL_HL7_ROWS"/>


    <add key="CfgUspInsertSchedulerlog" value="usp_insert_into_Scheduler_log"/>
    
    <add key="CfgUspGetRuleMsg" value="usp_get_rule_messages"/>
    <add key="CfgUspRulesToFire" value="usp_rules_to_fire"/>
    
    <add key="CfgUspApplyPatAuditTrial" value="usp_apply_patient_audit_trail_by_patient_id"/>
    
    <add key="CfgUspTankAddress" value="usp_get_tank_address"/>
    <add key="CfgUspAddCorrectAddress" value="usp_add_corrected_address_detail"/>
    <add key="CfgUspAddMultipleAddress" value="usp_add_corrected_address_multiple_detail"/>
    <add key="CfgUspFormatAddress" value="usp_get_formatted_address"/>
    <add key="CfgUspAddressValidationTrail" value="usp_add_address_validation_audit_trail"/>
    
    <add key="CfgUspGetAllTankById" value="usp_get_all_data_tank_ByID"/>
    
    <add key="CfgUspRuleInsert" value="usp_rule_insert_glen"/>
    <add key="CfgUspRuleResultDelete" value="usp_rule_result_delete"/>
    <add key="CfgUspRuleInsertByXmlTank" value="usp_rule_insert_ByXML_Tank"/>
    <add key="CfgUspRuleInsertDebug" value="usp_rule_insert_debug"/>



    <!--Legascy stuff below-->

    <add key="cfgContextID" value="1"/>
    <add key="cfgHospCode" value="D0"/>
    <add key="debugMode" value="Y"/>
    <add key="ruleDebugMode" value="N"/>
    <add key="runMode" value="R"/>
    <add key="resultAll" value="N"/>
    <add key="ruleSuccess" value="Y"/>
    <add key="raClientIP" value=""/>                     
    <add key="ruleDisplayLimit" value="5000"/>





    <add key="AddressRunMode" value="Y"/>

    <add key="addrSvcPingLogMin" value="10"/>
    <add key="customerID" value="stjoe"/>
    <add key="licenseKey" value="HqKKW2UGhzF5Xm6RhbL+vg=="/>

    <add key="CfgAddrSvcUrl" value="https://address.auditlogix.net/dcsaddress.asmx"/>
    <add key="addrSvcUrl1" value="http://10.34.1.33/DcsAddress.asmx"/>
    <add key="addrSvcUrl2" value="http://10.34.1.42:9500/DcsAddress.asmx"/>
    <!--<add key="addrSvcUrl2" value="https://address.auditlogix.net/dcsaddress.asmx" />-->

   
    
    
    <!--  end the rules section   -->
    <!--  **********************************************************************************************************************************************   -->

    
    
    
    
    
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!-- begin do not change any of these unless glen or mkc says to    fromm here ****************************************--> 
    <add key="ThreadsON" value="0"/>
    <add key="MinThreads" value="1"/>
  
    <add key="MaxQueDepth" value="1000"/>
    <add key="MinWait" value="10"/>
    <add key="MaxWait" value="15000"/>
    <add key="CleanupInterval" value="10000"/>
    <add key="SchedulingInterval" value="10"/>
    <add key="ThreadIntervalTimeout" value="12"/>
    <add key="PoolPollTime" value="10000"/>


    <add key="useDLL" value="1"/>
    

    <!-- end do not change and of these unless glen or mkc says to    to here ****************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->





 
     
    

  </appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
