<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!--  **********************************************************************************************************************************************   -->
    <!--  begin the db section   -->
 
    <!--       
        <add key="ConnStr" value="Persist Security Info=False;User ID=console_bonsecours_prod_user;Password=HFiVFXNCKZkiyxI0R4tNIYfu2txXSt251xBkWeRwb3/WtezoaQ96tY498rsPxr/+;Initial Catalog=al60_bonsecours_epic_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>
        <add key="ConnStr" value="User ID=al60_ucla_epic_prod_user;Password=0TEgLUu8h3vlG5mTd7WS5CLZ+smUkvIJyN0X4mVTJ5I=;Initial Catalog=al60_ucla_epic_prod;Data Source=10.34.1.30;pooling=false;connection Timeout=180" />
        <add key="ConnStr" value="Persist Security Info=False;User ID=console_bonsecours_prod_user;Password=HFiVFXNCKZkiyxI0R4tNIYfu2txXSt251xBkWeRwb3/WtezoaQ96tY498rsPxr/+;Initial Catalog=al60_bonsecours_epic_prod;Data Source=10.34.1.100;pooling=false;connection Timeout=180"/>
        <add key="ConnStr" value="User ID=console_dalemedical_prod_user;Password=console_dalemedical_prod_password;Initial Catalog=al60_dalemedical_prod;Data Source=10.34.1.80;pooling=false;connection Timeout=180" />
        <add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=AYImyvmKCd14tMw9timGAoTVdCmIKdP6yDSSKymY7t0um+lShaMStpGRtDcLlS7O;Initial Catalog=al60_eastmaine_prod;Data Source=10.1.1.120;pooling=false;connection Timeout=180" />
        <add key="ConnStr" value="Persist Security Info=False;User ID=al60_jhs_prod_user;Password=44KT86nfb0q2veT8utx/xwu0fAuT00jbrh8OJBTQy4k=;Initial Catalog=al60_jhs_prod;Data Source=10.34.1.140;pooling=true;connection Timeout=180" />
     -->
    
    <add key="ConnStr" value="Persist Security Info=False;User ID=ghinckley;Password=Emily269;Initial Catalog=al60_jhs_prod;Data Source=10.34.1.140;pooling=true;connection Timeout=180" />

    <add key="CommandTimeOut" value="180" />
    <add key="ForceClearTextPasswd" value="1" />

    <add key="ConsoleName" value="RuleEngineTestServer" />

    <add key="Monitoring" value="0" />
    <add key="Verbose" value="1" />

    <!-- number of threads. -->
    <add key="MaxThreads" value="4" />

    <!-- time in mins till the shutdown and wait for restart. -->
    <add key="RecycleTime" value="2" />

    <!-- time in secs to wait for threads to finish up on  restart. -->
    <add key="TimeToWiatForThreadsToCompleteOnRecycle"  value="30" />





    <!--  **********************************************************************************************************************************************   -->
    <!--  begin the rules section   -->





    <!--  end the rules section   -->
    <!--  **********************************************************************************************************************************************   -->






    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!-- begin do not change any of these unless glen or mkc says to    fromm here ****************************************-->
    <add key="ThreadsON" value="1" />
    <add key="MinThreads" value="2" />

    
    <add key="MaxQueDepth" value="1000" />
    <add key="MinWait" value="10" />
    <add key="MaxWait" value="15000" />
    <add key="CleanupInterval" value="10000" />
    <add key="SchedulingInterval" value="10" />
    <add key="ThreadIntervalTimeout" value="12" />
    <add key="PoolPollTime" value="10000" />
    

    <!-- end do not change and of these unless glen or mkc says to    to here ****************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->
    <!--*******************************************************************************************************************-->




  </appSettings>


</configuration>