<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnStr" value="Persist Security Info=False;User ID=console_dallas_children_user;Password=D/y5WJeUTwlhNL31C9ty4Q29P7BdEvz+8GW/rJb7adSzcQTGGKWXfL547IemVXlE;Initial Catalog=al60_dallas_children_prod;Data Source=10.34.1.190;pooling=false;connection Timeout=180" />-->
    <add key="ConnStr" value="Persist Security Info=False;User ID=al60_seton_lite_developer_user;Password=al60_seton_lite_developer_password;Initial Catalog=al60_dallas_children_prod;Data Source=10.1.1.120;pooling=false;connection Timeout=180" />
    
    <add key="SP_NAME_FETCH" value="USP_GENERATE_FILE"/>
    <add key="SP_NAME_UPDATE" value="Usp_set_parse_status"/>
    <add key="DEST_FOLDER" value="c:\usr\temp\" />
    <add key="ARCHIVE_FOLDER" value="c:\usr\temp\Archive\" />
    <add key="ConsoleName" value="MULTI_THREAD_GENERATE_FILE" />
    <add key="ThreadsON" value="1" />
    <add key="MinThreads" value="1" />
    <add key="MaxThreads" value="1" />
    <add key="MinWait" value="10" />
    <add key="MaxWait" value="15000" />
    <add key="CleanupInterval" value="60000" />
    <add key="SchedulingInterval" value="10" />
    <add key="dbPollTimeMilliSeconeds" value="100" />
    <add key="LoadFromDB" value="1" />
    <add key="ForceClearTextPasswd" value="1" />
    <add key="RecycleWaitTime" value="90000" />
    <add key="WaitForEnterToExit" value="1" />
    <add key="PoolPollTime" value="10000" />
    <add key="verbose" value="1" />
    <add key="RecycleTime" value="90000" />
    <add key="TimeToWiatForThreadsToCompleteOnRecycle"  value="30" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>